.homewrap {
    display: flex;
    flex-flow: row wrap;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: center;
}

@media (min-width: 670px) {
    .homewrap {
        justify-content: space-between;
    }
    
}


.homewrap a {
    display: block;
}



.homewrap img {
    max-width: 200px;
}

.homewrap>div {
    margin: 2em;
    flex-basis: 25%;
}

.card-t {
    margin: 0 auto;
    text-align: center;
    font-size: 180%;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homewrap a.card-i {
    display: flex;
    justify-content: center;
}

.card-b {
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    position: relative;
    height: 200px;
    width: 300px;
    cursor: pointer;
    display: block;
  }

  .card-b::before, .card-b::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .pink:hover, .pink a.card-t:hover, .pink a:hover, .pink:hover a {
    color: #F370BF;
  }

  .teal:hover, .teal a.card-t:hover, .teal a:hover, .teal:hover a {
    color: #0DD0CC;
  }

  .blue:hover, .blue a.card-t:hover, .blue a:hover, .blue:hover a {
    color: #6184D8;
  }

  .yellow:hover, .yellow a.card-t:hover, .yellow a:hover, .yellow:hover a {
    color: #efec7a;
  }

  .purple:hover, .purple a.card-t:hover, .purple a:hover, .purple:hover a {
    color: #A111E4;
  }

  .tan:hover, .tan a.card-t:hover, .tan a:hover, .tan:hover a {
    color: #DFBE99;
  }

  .pink {
    color: #F370BF;
    box-shadow: inset 0 0 0 4px #f370bf38;
  }

  .teal {
    color: #0DD0CC;
    box-shadow: inset 0 0 0 4px #0dd0cc45;
  }

  .blue {
    color: #6184D8;
    box-shadow: inset 0 0 0 4px #6184d873;
  }

  .yellow {
    color: #efec7a;
    box-shadow: inset 0 0 0 4px #f3f08a73;
  }

  .purple {
    color: #A111E4;
    box-shadow: inset 0 0 0 4px #a111e43b;
  }

  .tan {
    color: #DFBE99;
    box-shadow: inset 0 0 0 4px #dfbe9970;
  }



  .draw::before, .draw::after {
    border: 4px solid transparent;
    width: 0;
    height: 0;
  }
  .draw::before {
    top: 0;
    left: 0;
  }
  .draw::after {
    bottom: 0;
    right: 0;
  }
  
  .draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
  }


  .pink:hover::before {
    border-top-color: #F370BF;
    border-right-color: #F370BF;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }

  .pink:hover::after {
    border-bottom-color: #F370BF;
    border-left-color: #F370BF;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }

  .teal:hover::before {
    border-top-color: #0DD0CC;
    border-right-color: #0DD0CC;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }

  .teal:hover::after {
    border-bottom-color: #0DD0CC;
    border-left-color: #0DD0CC;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }

  .blue:hover::before {
    border-top-color: #6184D8;
    border-right-color: #6184D8;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }

  .blue:hover::after {
    border-bottom-color: #6184D8;
    border-left-color: #6184D8;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }

  .yellow:hover::before {
    border-top-color: #F3F08A;
    border-right-color: #F3F08A;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }

  .yellow:hover::after {
    border-bottom-color: #F3F08A;
    border-left-color:#F3F08A;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }

  .purple:hover::before {
    border-top-color: #A111E4;
    border-right-color: #A111E4;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }

  .purple:hover::after {
    border-bottom-color: #A111E4;
    border-left-color:#A111E4;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }

  .tan:hover::before {
    border-top-color: #DFBE99;
    border-right-color: #DFBE99;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }

  .tan:hover::after {
    border-bottom-color: #DFBE99;
    border-left-color:#DFBE99;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }

/*
  .draw:hover::before {
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }

  .pink.draw:hover::after {
    border-bottom-color: red;
    border-left-color: green;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 5s ease-out 0.75s;
  }

  .draw:hover::before {
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }

  .pink.draw:hover::after {
    border-top-color: #60daaa;
    border-right-color: #60daaa;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }











  /*

  .colorful {
    height: 100%;
    width: 100%;
  }


  .teal {
    color: #0DD0CC;
    box-shadow: inset 0 0 0 4px #0DD0CC;
  }

  .navy {
    color: #08254A;
    box-shadow: inset 0 0 0 4px #08254A;
  }

  .navy a {
    color: #08254A;
  }

  .pink {
    color: #F370BF;
  }

  .pink a {
    color: #F370BF;
  }

  .navy {
    color: #0DD0CC;
  }

  .navy {
    color: #0DD0CC;
  }

  .navy {
    color: #0DD0CC;
  }


  .draw {
    transition: color 0.25s;
  }
  .draw::before, .draw::after {
    border: 4px solid transparent;
    width: 0;
    height: 0;
  }
  .draw::before {
    top: 0;
    left: 0;
  }
  .draw::after {
    bottom: 0;
    right: 0;
  }
  .draw:hover {
    color: white;
  }
  .draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
  }
  .draw:hover::before {
    border-top-color: #F370BF;
    border-right-color: #F370BF;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }

  .draw:hover::after {
    border-bottom-color: #F370BF;
    border-left-color: #F370BF;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  }

  .draw:hover {
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: ease-in;
    transition-duration: 2s;
  }

  .pink .colorful {
    background: #F370BF;
    opacity: 0;
  }


  


  .draw:hover, .draw a.card-t:hover, .draw a:hover, .draw:hover a {
    color: white;
  }

 */
















/*
 
.spin::before, .spin::after {
    top: 0;
    left: 0;
  }
  
  .spin:hover, .spin a.card-t:hover, .spin a:hover, .spin:hover a {
    color: white;
  }
  
  
  .spin::before {
    border: 4px solid transparent;
  }
  .spin:hover::before {
    transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
  }

  .teal:hover::before {
    border-top-color: #0DD0CC;
    border-right-color: #0DD0CC;
    border-bottom-color: #0DD0CC;
  }

  .navy:hover::before {
    border-top-color: #08254A;
    border-right-color: #08254A;
    border-bottom-color: #08254A;
  }

  .pink:hover::before {
    border-top-color: #F370BF;
    border-right-color: #F370BF;
    border-bottom-color: #F370BF;
  }

  .green:hover::before {
    border-top-color: #0DD0CC;
    border-right-color: #0DD0CC;
    border-bottom-color: #0DD0CC;
  }

  .blue:hover::before {
    border-top-color: #0DD0CC;
    border-right-color: #0DD0CC;
    border-bottom-color: #0DD0CC;
  }

  .yellow:hover::before {
    border-top-color: #0DD0CC;
    border-right-color: #0DD0CC;
    border-bottom-color: #0DD0CC;
  }

  .spin::after {
    border: 0 solid transparent;
  }
  .spin:hover::after {
    border-left-width: 4px;
    border-right-width: 4px;
    transform: rotate(360deg);
    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
  }

  .teal:hover::after {
    border-top: 4px solid #0DD0CC;
  }

  .navy:hover::after {
    border-top: 4px solid #08254A;
  }

  .pink:hover::after {
    border-top: 4px solid #F370BF;
  }

  .blue:hover::after {
    border-top: 4px solid #0DD0CC;
  }

  .green:hover::after {
    border-top: 4px solid #0DD0CC;
  }

  .yellow:hover::after {
    border-top: 4px solid #0DD0CC;
  }
  
  
  .solid::before {
    border: 100px solid transparent;
    z-index: -1;
  }
  .solid::after {
    z-index: -1;
  }

  .solid:hover::before {
    transition: background 0s linear 0.4s, border-top-color 0.15s linear, border-right-color 0.15s linear 0.15s, border-bottom-color 0.15s linear 0.25s;
  }

  .teal:hover::before {
    background: #0DD0CC;
    border-top-color: #0DD0CC;
    border-right-color: #0DD0CC;
    border-bottom-color: #0DD0CC;
  }

  .navy:hover::before {
    background: #08254A;
    border-top-color: #08254A;
    border-right-color: #08254A;
    border-bottom-color: #08254A;
  }

  .pink:hover::before {
    background: #F370BF;
    border-top-color: #F370BF;
    border-right-color: #F370BF;
    border-bottom-color: #F370BF;
  }

  .green:hover::before {
    background: #0DD0CC;
    border-top-color: #0DD0CC;
    border-right-color: #0DD0CC;
    border-bottom-color: #0DD0CC;
  }

  .blue:hover::before {
    background: #0DD0CC;
    border-top-color: #0DD0CC;
    border-right-color: #0DD0CC;
    border-bottom-color: #0DD0CC;
  }

  .yellow:hover::before {
    background: #0DD0CC;
    border-top-color: #0DD0CC;
    border-right-color: #0DD0CC;
    border-bottom-color: #0DD0CC;
  }


  .solid:hover::after {
    border-left-width: 2.5em;
    border-right-width: 2.5em;
  }

  .teal:hover::after {
    border-top: 2.5em solid #0DD0CC;
  }

  .navy:hover::after {
    border-top: 2.5em solid #08254A;
  }

  .pink:hover::after {
    border-top: 2.5em solid #F370BF;
  }

  .green:hover::after {
    border-top: 2.5em solid #08254A;
  }

  .blue:hover::after {
    border-top: 2.5em solid #08254A;
  }

  .yellow:hover::after {
    border-top: 2.5em solid #08254A;
  }


*/